<div class="container">
    <div class="form-group" ng-show="!no_tabs">
        <input autofocus="true" class="form-control" type="text" ng-model="searchText"
               placeholder="Search note and tags">
    </div>
    <div class="row closedrow" ng-repeat="tab in tabs | filter:searchText">
        <div class="col-xs-1">
            <button class="btn btn-lg btn-success" title="Restore tab" ng-click="openTab(tab.id)">
                <span class="glyphicon glyphicon-folder-open"></span>
            </button>
        </div>
        <div class="col-xs-6 col-xs-offset-1">
            <div><strong>{{tab.note | limitTo:40}} </strong></div>
            <div><em>Tags: {{tab.tags | limitTo:80}}</em></div>
            <div><em>Created on: {{tab.created_time | limitTo:80}}</em></div>
            <div><em>Pages: {{tab.no_of_pages | limitTo:80}}</em></div>

        </div>
        <div class="col-xs-1 pull-right">
            <button class="btn btn-lg btn-danger" title="Delete tab" ng-click="deleteTab(tab.id)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
</div>
<div class="container largepadding" ng-show="no_tabs">
    <h1 class="center"><span class="glyphicon glyphicon-book"> You have not saved any tabs!!</span></h1>
</div>