<div class="container">
    <div class="row">
        <canvas id="showgraph" width="600" height="400"></canvas>
    </div>
    <div class="row">
        <div class="col-xs-9">
        <strong>{{title}} </strong>
        <em>{{link}}</em>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-lg btn-primary" title="Save tab" ng-click="askDetails()">
                <span class="glyphicon glyphicon-floppy-disk"></button>
        </div>
    </div>
    <div class="row" ng-show="showDetails">
        <input type="text" placeholder="Enter a note">
        <input type="text" placeholder="Add some tags (separated by comma)">
    </div>
</div>