.closedrow{
    padding: 12px;
    width: 100%;
}

.toppadding{
    padding-top: 100px;

}

.whitebackground{
    background-color: #ffffff;
}

.largepadding{
    padding: 100px;
    width: 100%;
}

#mainPopup {
    padding: 10px;
    height: 600px;
    width: 750px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}